.article-header {
  border-left: 5px solid #4d4d4d;
  padding: 30px 0 15px 25px;
  padding-left: 7.6923%;
}
.article-header h1:first-child {
  display: inline;
}
.article-header h1.article-title,
.article-title {
  color: #696969;
  margin-left: 0;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 20px;
  font-size: 26px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.archive-article-date {
  color: #999;
  margin-right: 7.6923%;
  float: right;
  margin-top: 6px;
}
.archive-article-date i {
  margin: 5px 5px 5px 0;
}

@media screen and (max-width: 800px) {
  .article-header {
    border-left: none;
    padding: 0;
    border-bottom: 1px dotted #ddd;
  }
  .article h1.article-title,
  .article .article-title {
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin: 0;
  }
  .article-header .archive-article-date {
    float: none;
  }
}
