.article {
  margin: 30px;
  position: relative;
  border: 1px solid #ddd;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #fff;
  transition: all 0.2s ease-in;
}
.article-summary {
  line-height: 1.8em;
  padding-right: 7.6923%;
  padding-left: 7.6923%;
}
.article p {
  margin: 0 0 1.75em;
}
.article-summary p {
  margin-top: 10px;
}

.article-info-index.article-info {
  padding-top: 20px;
  margin: 30px 7.6923% 0;
  min-height: 72px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 15px 45px;
}
.article-nav {
  margin: 0 0 20px;
  padding: 0 32px 10px;
  min-height: 30px;
}
.article-next {
  float: right
}

@media screen and (max-width: 800px) {
  .article {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    font-size: 16px;
    color: #555;
  }
  .article .article-summary {
    padding: 10px 0 30px;
  }
  .article-info-index.article-info {
    min-height: 40px;
    padding-top: 10px;
    margin: 0;
    border-top: 1px solid #ddd;
  }
  .markdown-body {
    padding: 15px;
  }
}
