#footer {
  font-size: 12px;
  font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
  text-shadow: 0 1px #fff;
  position: absolute;
  bottom: 30px;
  opacity: .6;
  width: 100%;
  text-align: center;
}
#footer .outer {
  padding: 0 30px;
  text-align: center;
}